@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template: auto / 1fr 4fr;
  font-family: 'Roboto', sans-serif;
}

/* Sidebar */
.main-icon {
  width: 50px;
}

.main-heading {
  font-weight: bold;
  font-size: 30px;
}

.sidebar-heading, .user-links, .supports {
  display: grid;
  grid-template: 1fr / fit-content(50px) 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

.sidebar {
  background-color: #dbeafe;
}

.sidebar-icon {
  width: 23px;
}

.icon-heading {
  font-weight: bold;
  font-size: 17px;
}

.sidebar-heading {
  padding: 20px 10px 0 15px;
  align-items: center;
}

.user-links, .supports {
  padding: 20px 10px 0 25px;
}

